*,
*::before,
*::after {
    box-sizing: border-box;
}
/*my custom properties*/  
:root {
    --myfontfamilypre: 'Source Sans Pro',
        sans-serif;
    --myfontfamilypost: 'Source Code Pro',
        monospace;
    --myfontweightnormal: 300;
    --myfontweightbold: 900;
    --mycolorlight: #fff;
    --mycolordark: #303030;
    --mycoloraccent: #16e0bd;
    --myfontsizeh1: 3rem;
    --myfontsizeh2:2.25rem;
    --myfontsizeh3: 1.25rem;
    --myfontsizebody: 1rem;
}
@media (min-width: 800px) {
    :root {
        --myfontsizeh1: 4rem;
        --myfontsizeh2: 3.75rem;
        --myfontsizeh3: 1.5rem;
        --myfontsizebody: 1.125rem;

    }
}
/* my standard styles*/

body {
    background: var(--mycolorlight);
    color: var(--mycolordark);
    margin: 0;
    font-family: var(--myfontfamilypre);
    font-size: var(--myfontsizebody);
    line-height: 1.6;

}
img {
    display: block;
    max-width: 100%;
}

/*text*/

h1, h2,h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {font-size: var(--myfontsizeh1);}
h2 {font-size: var(--myfontsizeh2);}
h3 {font-size: var(--myfontsizeh3);}

.myMainTitle {

}

.subTitle {
    margin: .25em;
    font-size: var(--myfontsizeh3);
}
.subTitleStyle {
    background: var(--mycoloraccent);
    font-size: var(--myfontfamilypost);
}